/* Tooltip container */
.watami {
    background-color: hsla(61, 100%, 60%, 1);
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.watami .watami_tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

}

.watami:hover .watami_tooltip {
    visibility: visible;
}
